/* Default styles - small devices (Mobile, screen width < 768px) */

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
    /* font-family: "Bitter", serif; */
    font-family: "Roboto", serif;
    font-size: 1.125rem;
}

a {
    color: var(--green);
}

.lead {
    font-weight: 500;
}

h2 {
    font-size: 3rem;
}

p.date {
    font-weight: 500;
}
.line-title {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .line-title .title {
    background-color: var(--white);
    padding: .5rem;
    width: fit-content;
  }
  .line-title h2 {
    display: inline-block;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
  }
  
  .line-title .line {
    position: absolute;
    top: 50%; /* Center the line vertically */
    transform: translateY(-50%); /* Adjust for line height */
    width: 100%; /* Set the line width to half the container width */
    height: 2px; /* Adjust line thickness */
    background-color: green; /* Adjust line color as needed */
    left: 0; /* Position the left line */
    right: 0; /* Position the right line */
    z-index: -1;
  }
  
  .line-title .line:first-child {
    left: 0; /* Position the left line */
  }
  
  .line-title .line:last-child {
    right: 0; /* Position the right line */
  }
  
/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
.navbar-toggler {
    border: none;
}

#main-nav .active {
    background-color: var(--green);
}

#main-nav a {
    /* text-transform: uppercase; */
    color: var(--black);
    font-weight: 500;
    transition: all .3s;
}

#main-nav .btn {
    font-size: 18px;
}

#main-nav .active a {
     color: #ffffff;
}

#main-nav .btn {
    font-size: 18px;
}

.nav-outer .container {
    padding: 0;
}


.navbar ul {
    padding: 0;
}

.navbar ul li, .site-logo-top, .navbar-toggler, .mobile-search-btn {
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: calc(var(--bs-gutter-x) * .5);
}

.navbar-nav .nav-item, .navbar ul li:first-child:not(.dropdown ul li) {
    padding: .9rem calc(var(--bs-gutter-x) * .5);
    border-top: thin solid var(--lightGray);
}

.navbar a {
    padding: 0;
}
.nav-contact-contain {
    padding: 0 calc(var(--bs-gutter-x) * .5);
}
/* #main-nav .navbar-nav .nav-item:last-of-type {
    border-bottom: thin solid var(--lightGray);
} */

/* Collapse Button Mobile */
.animated-icon {
    cursor: pointer;
    height: 20px;
    margin: 0px;
    position: relative;
    width: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

    .animated-icon span {
        border-radius: 9px;
        display: block;
        height: 3px;
        position: absolute;
        left: 0;
        opacity: 1;
        width: 100%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .animated-icon span {
        background: var(--green);
    }

        .animated-icon span:nth-child(1) {
            top: 0px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon span:nth-child(2) {
            top: 10px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon span:nth-child(3) {
            top: 20px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

    .animated-icon.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
    }

    .animated-icon.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .animated-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
    }

    #main-nav .logo-top {
        padding-left: calc(var(--bs-gutter-x)* .5);
        width: 11rem;
    }
    .navbar-collapse {
        background-color: var(--gray);
    }

#main-nav .nav-item.active ul {
    background-color: var(--green)!important;
}

#main-nav {
z-index: 9;
}

#main-nav .nav-item.active ul li a.dropdown-item.active {
    color: #ffffff!important;
}
#main-nav a#navbarDropdown:hover {
    color: var(--white)!important;
}

.email-donate {
    width: 100%;
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: calc(var(--bs-gutter-x) * .5);
}
.email-donate a {
    text-decoration: none;
}

.email-donate p {
    text-transform: uppercase;
    font-size: 1.125rem;
    transition: all .3s;
}

.email-donate a:nth-of-type(1) p {
    font-weight: 300;
    padding-left: 1rem;
}
.email-donate a:nth-of-type(2) p {
    color: var(--green);
    font-weight: 600;
    padding-left: 1rem;
}
.email-donate a:nth-of-type(1) svg {
    width: 2rem;
}
.email-donate a:nth-of-type(2) svg {
    width: 3rem;
}

.email-donate a:hover p {
    color: var(--black);
    opacity: .67;
}
.email-donate a:nth-of-type(1):hover p {
    color: var(--green);
}

/* Hero  */
.swiper-slide img {
    width: 100%;
    object-fit: cover;
}

.hero h1 {
    font-family: "Bitter", serif;
}

.hero-text {
    background-color: #000000;
    padding: 3rem 3rem 0 3rem;
}
.hero-text img {
    margin-bottom: -3rem;
}

.our-aim {
    width: 683.63px;
    height: fit-content;
    padding: 7.5rem 2rem 7rem 2rem;
    background: #000000;
    clip-path: polygon(
      2.09% 100%,   /* Point A (14.3, 239.72) */
      0% 0%,        /* Point B (0, 0) */
      100% 4.73%,   /* Point C (683.63, 11.34) */
      87.96% 80.59%,/* Point D (601.41, 193.19) */
      2.09% 100%    /* Point A (14.3, 239.72 again) */
    )
}

.our-aim p {
    color: var(--white);
    font-family: "Bitter", serif;
    font-size: 2.25rem;
    font-weight: 500;
}
.our-aim p span {
    font-size: 3rem;
    color: var(--green);
}

.hero .container-fluid .row:nth-of-type(1) {
    position: relative;
    z-index: 9;
}
.hero .container-fluid .row:nth-of-type(2) {
    position: relative;
    z-index: -1;
    margin-top: -3rem;
}

/* Who we are  */
.who-we-are h2 {
    color: var(--green);
}

.who-we-are img {
    width: 100%;
}

/* Zebras */
.zebra {
    margin-top: 5rem;
    margin-bottom: 10rem;
}
.zebra .container-fluid .row .col:nth-of-type(1) {
    position: relative;
    z-index: -1;
}
.zebra .container-fluid .row .col:nth-of-type(2) {
    position: relative;
    z-index: 9;
}

.zebra .text-svg {
    background-color: #000000;
    padding: 3rem 3rem 0 3rem;
}
.zebra .text-svg img {
    margin-bottom: -3rem;
}

.zebra .content-col {
    background-color: var(--gray);
}

.zebra .content-col h3 {
    font-family: "Bitter", serif;
    font-size: 2rem;
    font-weight: 600;
}

.zebra .zebra-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.zebra {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/* Latest News  */
/* .latest-news {
    margin: 15rem 0 3rem;
    padding: 3rem 0;
} */
.latest-news h2 {
    font-family: "Bitter", serif;
    font-size: 3rem;
    font-weight: 500;
    color: var(--green);
}
.latest-news a {
    text-decoration: none;
    color: var(--black);
}

.latest-news p {
    font-weight: 300;
}
.latest-news .card {
    border: none;
    border-radius: 0;
}
.latest-news .card .card-body {
    border-radius: 0;
    border: 1px solid var(--gray);
    margin-top: .5rem;
    transition: all .3s;
}

.latest-news .card-img-top {
    height: 17.5rem;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
    transition: all .3s;
}


.more p {
    font-size: 1rem;
    font-family: 'bitter', serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
}
.more svg {
    width: 1rem;
    margin-right: .5rem;
}

.latest-news a.news-btn {
    text-transform: uppercase;
    transition: all .3s;
}

.latest-news a.news-btn:hover {
    color: var(--green);
}

.latest-news a.card:hover .card-img-top {
    opacity: .9;
}
.latest-news a.card:hover .card-body {
    background-color: var(--black);
    color: var(--green);
}

.latest-news a.card:hover .card-body svg g line {
    stroke: var(--green)!important;
}

/* Help Us  */
.help-us {
    margin-bottom: 5rem;
}

.help-us .container a, .help-us .container a img {
    width: 100%;
}
.help-us .container a img {
    border-radius: 40px;
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all .3s;
}
.help-us .container a:hover img {
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    opacity: .9;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    font-size: .875rem;
    background-color: var(--gray);
}
footer .logo-footer {
    width: 16rem;
}


footer#footer {
    /* border-top: 2px solid var(--gold); */
}
    footer a span {
        /* color: var(--cyan); */
    }

    footer .footer-title {
        font-weight: 400;
        font-family: "Barlow Condensed", sans-serif;
        text-transform: uppercase;
        color: var(--purple);
        font-weight: 700;
    }



    footer a {
        color: var(--black);
        font-size: .875rem;
        text-decoration: none;
        font-weight: 400;
    }

        footer a:hover {
            /* text-decoration: underline; */
            color: var(--green);
        }

            


.footer-title {
    font-size: 1.25rem;
    /*font-weight: 500;*/
    margin-bottom: 20px;
}
footer .navbar-toggler {
    border: none;
}

footer ul li {
    margin-bottom: 10px;
    padding-left: 2.3rem;
    text-indent: -1.1rem;
}
footer .fa-angle-right {
   height: 20px;
}
footer .fa-angle-down {
    width: 20px;
}
footer .fa-chevron-right {
    /*color: #ffffff;*/
    /*color: #ffffff;*/
    padding-right: 0.2rem;
}

.shfooter .collapse {
    display: inherit;
}

/* .shfooter i::before {
    color: var(--light);
} */


.resize {
    text-align: center;
}

.resize {
    margin-top: 3rem;
    font-size: 1.25rem;
}

/* Social footer  */
footer .fa-brands {
    width: 7%;
}

footer .fab:before {
    font-size: 1.1rem;
}

.social-footer a:hover svg {
    /*color: var(--links); */
    animation: icons-rise 0.3s linear forwards;
}

#footer .social-logos svg {
   width: 30px;
   height: 30px;
   transition: all .3s;
}
#footer .social-logos svg g rect{
   
    transition: all .3s;
 }
#footer h4 {
    font-size: 1rem;
    margin-top: 2rem;
}
@keyframes icons-rise {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translate(2.5px, -2.5px);
    }
}

.social-footer a:hover {
    text-decoration: none;
}

    .social-footer a:hover span {
        text-decoration: underline;
    }

@keyframes arrow-right {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(3px);
    }
}



footer hr:not([size]) {
    height: 1px;
    /* color: var(--hcs-blue); */
    opacity: .8;
}

footer ul li {
    padding-left: 0;
    text-indent: 0;
    /* remove this if issue 616 617 */
    display: flex;
    align-items: center;
}

footer .fa-chevron-right {
    display: none;
}

.footer-title {
    margin-bottom: 0;
}

.shfooter ul {
    margin-bottom: 0;
}

.shfooter .collapse {
    display: none;
}

    .shfooter .collapse.show {
        display: block;
    }

.shfooter .title .fa-angle-down,
.shfooter .title[aria-expanded=true] .fa-angle-right {
    display: none;
}

.shfooter .title[aria-expanded=true] .fa-angle-down {
    display: block;
}

.shfooter .navbar-toggler {
    display: inline-block;
    padding: 0;
}


footer a  {
    transition: all .3s;
}
footer a, footer p, footer h3 {
    color: var(--black);
}

footer #social svg {
    width: 2rem;
}
footer #social a svg g circle {
    transition: all .3s;
}
footer #social a:hover svg g circle {
    fill: var(--green)!important;
}