/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .hero .col {
        position: relative;
    }
    .hero .container-fluid .row .col:nth-of-type(1) {
        position: relative;
        z-index: 0;
    }
    .hero .container-fluid .row .col:nth-of-type(2) {
        position: relative;
        z-index: 1;
    }
    .hero-text {
        /* padding: 2rem 2rem 0 0rem; */
        padding: 0;
        position: relative;
        z-index: 0;
    }
    .hero-text img {
        position: absolute;
        top: 4rem;
        right: 4rem;
        left: -5rem;
        bottom: 0;
    }

    .our-aim {
        width: 70%;
        height: fit-content;
        margin-left: 3rem;
        padding: 5rem 5rem 4rem 3rem;
    }
    
    .our-aim p {
        font-size: 1.5rem;
    }
    .our-aim p span {
        font-size: 1.75rem;

    }

    .who-we-are h2 {
        font-size: 4.5rem;
    }
    .who-we-are p {
        font-size: 1.5rem;
    }

    .zebra .col {
        position: relative;
    }
    .zebra .container-fluid .row .col {
        padding-left: 4rem!important;
        padding-right: 4rem!important;
    }
    .zebra .container-fluid .row .col:nth-of-type(1) {
        position: relative;
        z-index: 0;
    }
    .zebra .container-fluid .row .col:nth-of-type(2) {
        position: relative;
        z-index: 1;
    }
    .zebra .text-svg {
        /* padding: 2rem 2rem 0 0rem; */
        padding: 0;
        position: relative;
        z-index: 0;
    }
    .zebra .text-svg img {
        position: absolute;
        top: 8%;
        right: 10%;
        bottom: 0;
        width: 140%;
    }
    .zebra.zebra-left .text-svg img {
        position: absolute;
        top: 8%;
        left: 10%;
        right: unset;
        bottom: 0;
    }
    .zebra .content-col {
        padding-top: 0rem !important;
    }
    .zebra .content-col h3 {
        font-size: 1.7rem;
    }
    /* Footer - Large Devices */


}